
body {
    background-color: #556B2F;
}
.poem-text {
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    color: #ffffff;
}

.heading {
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    color: #ffffff;
}

.naming {
    font-family: 'Martian Mono', monospace;
    font-weight: 300;
    color: #DDA0DD;
    font-size: 20px;
}